*{
	box-sizing: border-box;
}
.container{
	position: relative;
	min-height: 100vh;
	background:url(../../images/alien-background-report.jpg);
	background-size: cover;
	background-position: bottom;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	article{
		width: 70%;
		position: relative;
		p{
			color: #fff;
			position: absolute;
			font-family: 'Orbitron', sans-serif;
			letter-spacing: 3px;
			top: 16px;
			right:0;

		}
	}

}

.mars-title{
	width: 100%;
	text-align: center;
	font-family: 'Orbitron', sans-serif;
	color: #6CC417;	
	h2{
		font-weight: 700;
		font-size: 40px;
		text-transform: uppercase;
		text-shadow:0 1px 0 #fff;
	}

	p{
		font-size: 20px;
		letter-spacing: 3px;
	}
}

form {
	width: 100%;
	height: auto;
	position: relative;
}

input, select{
	width: 100%;
	border: none;
  font-family: 'Roboto Mono', monospace;
	font-size: 20px;
	padding: 10px;
	background-color: transparent;
	border-bottom: 1px solid #fff;
	color: #6CC417;
	text-transform: uppercase;
	letter-spacing: 2px;
	box-sizing: content-box;
	margin-top: 15px;
	&:focus{
		outline: none;
    border:1px solid #6CC417;
    box-shadow: 0 0 10px #719ECE;
	}
}
input:nth-child(2){
	border-bottom:none;
	height: 300px;
	background-color: rgba(255, 255, 255, .3);
	color:#6CC417;
	text-transform: none;
	text-align: center;
	border-radius: 10px;
}


input:nth-child(3){
	border-bottom:none;
	cursor: pointer;
}

::-webkit-input-placeholder { 
	color:#6CC417;
 }

select{
	color: #6CC417;
	-webkit-appearance: none;
	border-radius: 0;
}

button{
	position: absolute;
	background-color:rgba(0,0,0,.4);
	color: #6CC417;
	text-transform: uppercase;
	font-family: 'Orbitron', sans-serif;
	padding: 10px ;
	letter-spacing: 2px;
	width: 50%;
	border-color: #6CC417;
	margin-top: 20px;
	left:25%;
	&:hover{
		background:linear-gradient(rgba(108,196,23,.5),rgba(0,0,0,.5));
		color:#fff;
		cursor: pointer;
	}
}
