<section class="container">
  
  <h1 class="mars-title">Register</h1>
	
	<form action="#" method="#">
	    <div>
	        <input type="text" name="name" placeholder="Name">
	    </div>
	    <div>
	        <input type="number" name="age" placeholder="Age">
	        
	    </div>
	    <div class="jobs">
	        <select name="user_job" id="job"><br>
				    <option value="#" selected>Select Occupation</option>
				    <option value="Dust Farmer">Dust Farmer</option>
				    <option value="Alien Hunter">Alien Hunter</option>
				    <option value="Battery Technician">Battery Technician</option>
				    <option value="Yoga Teacher">Yoga Teacher</option>
				    <option value="Front-End Developer">Front-End Developer</option>
			  </select>
	    </div>
	    <input type="submit" value="Check In">
	</form>
</section>