@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,700';
*{
	box-sizing: border-box;
}
.container{
	max-height: 80vh;
	display: flex;
	flex-direction: column;
	background: -webkit-linear-gradient(rgba(0,100,0,.7),rgba(0,50,0,.9)),url(https://images3.alphacoders.com/108/108189.jpg);
	background-size: cover;
}
header{
	width: 100%;
	text-align: center;
	color: #6CC417;
	font-family: 'Roboto', sans-serif;
}
header p {
	font-size: 20px;
}
article{
	width: 100%;
	background-color:rgba(255,255,255,.5);
	overflow-y: scroll;
	overflow-x: scroll;
	color: #000;
	font-family: 'Roboto', sans-serif;
	padding: 20px;
}
footer{
	width: 100%;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	font-size: 30px;
}

footer a{
	color: #6CC417;
	text-decoration: none;
}
.mars-title{
	color: #6CC417;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 40px;
}

