@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,700';

@keyframes pulsate {
    0% {transform: scale(0.1, 0.1); opacity: 0.0;
    		box-shadow: 0 0 0 1rem rgba(255,100,100,.2),0 0 0 2rem rgba(255,100,100,.15),0 0 0 4rem rgba(255,100,100,.2);
    }
    50% {opacity: 1.0;
    		box-shadow: 0 0 0 1.25rem rgba(255,100,.2),0 0 0 2.75rem rgba(255,100,100,.1),0 0 0 5rem rgba(255,100,100,0);
    }
    75% {
    box-shadow: 0 0 0 1.5rem rgba(255,100,100,.2),0 0 0 3rem rgba(255,100,100,0),0 0 0 6rem rgba(255,100,100,0);}

    100% {transform: scale(1.5, 1.5); opacity: 0.0;
    			box-shadow: 0 0 0 1.75rem rgba(255,100,100,0),0 0 0 3.75rem rgba(255,100,100,0),0 0 0 7rem rgba(255,100,100,0);
    }
}

.container{
	min-height: 97vh;
	background: -webkit-linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.7)),url(https://images3.alphacoders.com/108/108189.jpg);
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.mars-title{
	color: #fff;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 40px;
}

p{
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	text-transform: capitalize;
	color: #fff;
	font-size: 30px;
	flex-basis: 20%;
}
.enter{
	height: 300px;
	display: flex;
	align-items: center;
}

.enter-button{
	width: 70px;
	height: 70px;
	background-color: rgba(250, 200, 200, .2);
	border-radius: 50%;
	animation: pulsate 3.5s ease-out;
  animation-iteration-count: infinite; 
  flex-basis: 50%;
}